.start-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    img {
        width: 100vw;
        height: 100vh;
        max-width: 100%;
    }
}

.start-label-box {
    position: fixed;
    top: 65%;
    left: 39%;
    img {
        width: 20vw;
        height: 24vh;
        &:hover {
            cursor: pointer;
            filter: brightness(1.3);
        }
    }
}